<template>
    <div id="app">
        <h1 class="page-title">Шагиахмитов Д.Р. Группа 09-865. Задание №1</h1>
        <div class="generate-form">
            <input type="text" v-model="createTaskCount">
            <button v-on:click="createTasks();" class="answer__accept">Сгенирировать</button>
        </div>
        <transition-group name="fade">
            <div class="task" v-for="task in tasks" v-bind:key="task.id">
                <div class="task__title">Из указанных в ряду химических элементов выберите три элемента, которые в Периодической системе химических элементов Д. И. Менделеева находятся в одном периоде.<br>Расположите выбранные элементы в порядке возрастания их металлических свойств.</div>
                <div class="task__body">
                    <div class="task__body__variants">
                        <div class="variant" v-on:click="addAnswer(task.answer, variant)" v-for="variant in task.variants" v-bind:key="task.id+variant.symbol">{{variant.symbol}}</div>
                    </div>
                    <div class="answer">
                        <div class="answer__title">Ответ</div>
                        <div class="answer__variants">
                            <div class="variant" v-for="answerItem in task.answer" v-bind:key="answerItem.symbol" v-on:dblclick="removeFromAnswer(task.answer, answerItem)">{{answerItem.symbol}}</div>
                        </div>
                        <button v-on:click="checkTask(task);" class="answer__accept">Проверить</button>
                    </div>
                </div>
            </div>
        </transition-group>
    </div>
</template>

<script>
import { generateTask } from './TaskSevice';

export default {
  name: 'app',

  created: function () {
    //this.tasks = generateTask(4);
  },

  data () {
    return {
      tasks: [],
      createTaskCount: 10
    }
  },
  methods: {

    createTasks: function() {
      this.tasks = generateTask(this.createTaskCount);
      //console.log(generateTask(this.createTaskCount));
    },

    addAnswer : function(answerArray, answerItem) {
      if(answerArray.length < 3) {
        const existIndex = answerArray.findIndex(x => x.symbol == answerItem.symbol);
        if(existIndex == -1) {
          answerArray.push(answerItem);
        } else {
          alert("Этот элемент уже добавлен в ответ!");
        }
      } else {
        alert("В ответе должно быть 3 элемента!")
      }
    },

    removeFromAnswer: function(answerArray, answerItem) {
      const findIndex = answerArray.findIndex(x => x.symbol == answerItem.symbol);
      answerArray.splice(findIndex, 1);
    },

    checkTask: function(task) {
      if(task.answer.length == 3) {
        const samePerion = (task.answer[0].period == task.answer[1].period) && (task.answer[1].period == task.answer[2].period);
        const rightOrder = (task.answer[0].number < task.answer[1].number) && (task.answer[1].number < task.answer[2].number);
        if(samePerion && rightOrder) {
          alert("Ответ правильный");
          const taskIndex = this.tasks.findIndex(x => x.id == task.id);
          this.tasks.splice(taskIndex, 1);
        } else {
          alert("Ответ неправильный");
        }
      } else {
        alert("В ответе должно быть 3 элемента");
      }
    }
  }
}
</script>

<style lang="scss">
input {
  padding: 2px 5px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin-right: 20px;
  width: 70px;
}

.page-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
}

.generate-form {
  text-align: center;
  display: flex;
  justify-content: center;
}

.task {
  display: inline-block;
  width: 400px;
  margin: 10px;
  background: #e9eaff;
  padding: 10px;
  border-radius: 4px;

  &__title {
    font-family: Arial;
    font-weight: 700;
    font-size: 14px;
  }

  &__body {
    margin-top: 15px;
    display: flex;

    &__variants {
      width: 70px;
      padding-left: 20px;
    }
  }
}

.variant {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  font-weight: 700;
  font-family: Arial;
  background: #a9d00d;

  &:hover {
    cursor: pointer;
  }
}

.answer {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &__title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
  }

  &__variants {
    display: flex;
  }

  &__accept {
    display: flex;
    padding: 5px 15px;
    background: #ac0bff;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background: #9709e0;
    }

    &:active {
      background: #8709c7;
    }

    &:focus {
      outline: 0;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
